.container {
  min-height: 100vh;

  background-color: #181721;

  display: flex;
  flex-direction: row;
}

.main {
  padding: 2.5rem 2rem;

  .title {
    color: #FDFDFD;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 400;
  }
}